[Unit]
Description=AccessMap Vector Tiles Server

[Service]
Environment=NODE_ENV=production
Environment=PORT=3001
Environment=DATABASE_URL=<>

ExecStart=</path/to/node> ./app.js
WorkingDirectory=</path/to/repo/clone>
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=accessmap-vt
User=<user>

[Install]
WantedBy=multi-user.target
